* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.container {
  /* overflow-y: scroll; */
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(1, 1, 1, 0.7);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0,
      transparent 40%,
      transparent 75%,
      rgba(2, 2, 2, 0.9)
    ),
    url("/images/NG-en-20230227-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
}
input {
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 15px;
  color: white;
}
.input-holder,
.password-holder {
  width: 80%;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: gray;
}
.input-holder.show {
  border-bottom: 2px solid orange;
}
.password-holder.show {
  border-bottom: 2px solid orange;
}
.error1,
.error2 {
  color: orange;
  text-align: start;
  width: 79%;
  display: none;
  font-size: 12px;
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}

label {
  position: absolute;
  font-size: 0.9rem;
  left: 15px;
  color: whitesmoke;
  transition: transform 0.2s ease-in-out;
  top: 14px;
}
input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-1em);
  font-size: 0.6em;
  background-color: transparent;
}
.form-control button {
  width: 83%;
  font-weight: 700;
  padding: 17px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 1rem;
}
.h-sign {
  color: white;
  width: 79%;
  padding: 10px 0;
  font-size: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 1.8rem;
  padding: auto;
  width: 400px;
  background-color: rgba(2, 2, 2, 0.7);
  border-radius: 10px;
}
.remember {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  width: 82%;
  font-size: 14px;
}
.remember span {
  padding: 10px 0;
  /* font-size: 15px; */
  font-weight: 100;
}
.remember span a {
  color: whitesmoke;
  text-decoration: none;
}
.remember span a:hover {
  text-decoration: underline;
}
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 12px;
}
input[type="checkbox"]:focus {
  background: black;
}
.check-input {
  display: flex;
  justify-content: space-around;
  width: 37%;
}
.wrapper {
  width: 64%;
  font-weight: 100;
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 1rem;
}
.wrapper p {
  font-size: 12px;
  font-weight: 100;
}
.wrapper h5 a {
  color: whitesmoke;
  text-decoration: none;
}
.wrapper h5 a:hover {
  text-decoration: underline;
}

.wrapper a {
  color: blue;
}

.footer {
  background-color: rgba(2, 2, 2, 0.7);
  /* position: fixed; */
  /* bottom: 10px; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  padding: 20px;
  flex-direction: column;
}
.footer-wrapper div {
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.footer-wrapper div ul li a {
  color: grey;
  padding-top: 10px;
}
.footer-wrapper div ul li {
  list-style-type: none;
  padding: 10px;
}

.footer h3 {
  color: grey;
}
.line {
  display: none;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-left: 10px;
}
@media screen and (max-width: 500px) {
  .footer-wrapper div {
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .line {
    display: block;
    width: 100%;
    border: 1px solid whitesmoke;
  }
  .form-container {
    background-color: black;
  }
  .container {
    background-image: none;
    background-color: black;
  }
  .footer {
    background-color: black;
  }
}
